body {
    background-color: black;
}

.main {
    color: aliceblue;
}

.authentication {
    width:100%;
    padding:10px;
    border: 1px solid blue;
    overflow: hidden;
}

.authentication .title {
    font-size:24px;
    font-weight: bold;
    text-align: center;
}

.authentication .message {
    margin-top:1rem;
    color: darkgreen;
}

.authentication .data {
    margin-top:2rem;
    display: flex;
}

.authentication .data .item {
    width:33.3%;
    flex: 1;
    padding:1rem;
}

.authentication .data .item textarea {
    width: 400px;
    height: 250px;
}

.authentication .data .item .name {
    font-weight:bold;
}

.authentication .data .item .value {
    font-size:12px;
    background: white;
    color: black;
}
